html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    text-align: left;
    font-family: 'Mountains of Christmas', cursive;
    margin:0%
}

.bigTitle {
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 200px;
    margin-top:10px;
    margin-bottom: 30px;
    
}

.title {
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 115px;
    margin-top:10px;
    margin-bottom: 30px;
    
}

.subtitle {
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 60px;
    margin-top:10px;
    margin-bottom: 5px;
}

.text {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top:0px;
    flex-wrap: wrap;
}

button {
    display: block;
    margin: auto;
    width: fit-content;
    height: fit-content;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 75px;
    color: #004AAD;
    border-color: #004AAD;
    border-width: 30px;
    border-radius: 15px;
    background-color: white;
    margin-top: 20px;
}

button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.regularButton {
    display: block;
    margin: auto;
    height: fit-content;
    width: fit-content; 
    font-family: 'Mountains of Christmas', cursive;
    font-size: 50px;
    color: #004AAD;
    border-color: #004AAD;
    border-width: 20px;
    border-radius:15px;
    background-color: white;
    margin-bottom: 20px;
}

.smallButton {
    display: block;
    margin: auto;
    height: fit-content;
    width: fit-content; 
    font-family: 'Mountains of Christmas', cursive;
    font-size: 50px;
    color: #004AAD;
    border-color: #004AAD;
    border-width: 17px;
    border-radius:15px;
    background-color: white;

}

.travelButton {
    display: block;
    margin: auto;
    height: 400px;
    width: 400px; 
    font-family: 'Mountains of Christmas', cursive;
    font-size: 50px;
    border-width: 17px;
    border-radius:15px;
    flex-wrap: wrap;
    background-color: white;
}

.columnTicket:hover,
.columnTicket:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.40em);
}

* {
    box-sizing: border-box;
    text-decoration: none;
}
.column {
    float: left;
    width: 33.33%;
    padding: 2px;
    margin-bottom: 10px;
}
.columnTicket {
    float: left;
    width: 25%;
    margin-top: 0px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.slowFloating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes slowFloating {
    0% { transform: translate(0,  -0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, 0px); }   
}

a {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
.draggable-elements {
    display: flex;
    justify-content: center;
    margin: 2rem;
  }
  .draggable {
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin: 0rem 0.5rem;
    cursor: move;
    transition: opacity 0.2s;
  }
  .draggable:hover {
    opacity: 0.5;
  }
  .droppable {
    height: 6.5rem;
    width: 6.5rem;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    background-color: #fff;
    border: 3px dashed #111;
    transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
  }
  .droppable span {
    font-size: 1.25rem;
    pointer-events: none; /* The element is never the target of pointer events */
  }
  
  /* Drag and Drop Related Styling */
  
  .droppable.droppable-hover {
    /* background-color: #bee3f0; */
    border-width: 5px;
    transform: scale(1.1);
  }
  .droppable.dropped {
    border-style: solid;
    color: #fff;
  }
  .droppable.dropped span {
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }
  .droppable.dropped i {
    pointer-events: none;
  }
  .draggable.dragged {
    user-select: none;
    opacity: 0.1;
    cursor: default;
  }
  .draggable.dragged:hover {
    opacity: 0.1;
  }
  
  @media (max-width: 600px) {
    html { font-size: 14px; }
    .draggable-elements { margin: 1.5rem; }
  }

  