h1 {
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 150px;
    margin:0%
}

.bigTitle {
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 200px;
    margin-top:10px;
    margin-bottom: 30px;
    
}

.title {
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 115px;
    margin-top:10px;
    margin-bottom: 30px;
    
}

.subtitle {
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 60px;
    margin-top:10px;
    margin-bottom: 5px;
}

.text {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top:0px;
}

button {
    display: block;
    margin: auto;
    width: fit-content;
    height: fit-content;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 75px;
    color: #004AAD;
    border-color: #004AAD;
    border-width: 30px;
    border-radius: 15px;
    background-color: white;
}

button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.regularButton {
    display: block;
    margin: auto;
    height: fit-content;
    width: fit-content; 
    font-family: 'Mountains of Christmas', cursive;
    font-size: 50px;
    color: #004AAD;
    border-color: #004AAD;
    border-width: 20px;
    border-radius:15px;
    background-color: white;
    margin-bottom: 20px;
}

.smallButton {
    display: block;
    margin: auto;
    height: fit-content;
    width: fit-content; 
    font-family: 'Mountains of Christmas', cursive;
    font-size: 50px;
    color: #004AAD;
    border-color: #004AAD;
    border-width: 17px;
    border-radius:15px;
    background-color: white;

}

.columnTicket:hover,
.columnTicket:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.40em);
}

* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    padding: 2px;
}
.columnTicket {
    float: left;
    width: 25%;
    margin-top: 0px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

a {
    text-decoration: none;
}