html, body {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family: 'Quicksand', sans-serif;
    background: white;
    overflow-x: hidden;
    overflow:  hidden;
}

h1 {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    margin:0%;
}

button {
  border:none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.5s;
}
button:focus {
  outline: none;
}


button:hover i {
  color: #C1E9FF;
}

i {
  font-size: 50px;
  color: gray;

}

.bigTitle {
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 200px;
    margin-top:10px;
    margin-bottom: 30px;
    
}

.title {
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 115px;
    margin-top:10px;
    margin-bottom: 30px;
    
}

.subtitle {
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 60px;
    margin-top:10px;
    margin-bottom: 5px;
}

.text {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top:0px;
    flex-wrap: wrap;
}

.button {
    display: block;
    margin: auto;
    width: fit-content;
    height: fit-content;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 75px;
    color: #004AAD;
    border-color: #004AAD;
    border-width: 30px;
    border-radius: 15px;
    background-color: white;
    margin-top: 20px;
}

.button:hover,
.button:focus, 
.smallButton:hover,
.smallButton:focus,
.regularButton:hover,
.regularButton:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.regularButton {
    display: block;
    margin: auto;
    height: fit-content;
    width: fit-content; 
    font-family: 'Mountains of Christmas', cursive;
    font-size: 50px;
    color: #004AAD;
    border-color: #004AAD;
    border-width: 20px;
    border-radius:15px;
    background-color: white;
    margin-bottom: 20px;
}

.smallButton {
    display: block;
    margin: auto;
    height: fit-content;
    width: fit-content; 
    font-family: 'Mountains of Christmas', cursive;
    font-size: 50px;
    color: #004AAD;
    border-color: #004AAD;
    border-width: 17px;
    border-radius:15px;
    background-color: white;

}

.travelButton {
    display: block;
    margin: auto;
    height: 400px;
    width: 400px; 
    font-family: 'Mountains of Christmas', cursive;
    font-size: 50px;
    border-width: 17px;
    border-radius:15px;
    flex-wrap: wrap;
    background-color: white;
}

.columnTicket:hover,
.columnTicket:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.40em);
}

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding:0;
}

.column {
    float: left;
    width: 33.33%;
    padding: 2px;
    margin-bottom: 10px;
}
.columnTicket {
  float: left;
  width: 33.33%;
  padding: 2px;
  margin-bottom: 10px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.slowFloating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes slowFloating {
    0% { transform: translate(0,  -0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, 0px); }   
}

a {
    text-decoration: none;
}

.book {
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 15px;
  transition: transform 0.5s;
  display:flex;

}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  top:0;
  left:0;
  perspective: 1500px;
}

.front,
.back {
  background-color:#C1E9FF;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  top:0;
  left:0;
  transform-origin: left;
  transition: transform 0.5s;

}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid white;
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-content {
  transform: rotateY(180deg);
}

#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}

.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

.book-title {
font-size: 3em;
margin-bottom: 40px;
}

.cover-img {
width: 200px;
height: 270px;
object-fit: cover;
border-radius: 30px;
}

#b1 {
padding: 20px;
text-align: center;
font-size: 1.2em;
justify-content: space-around;
}

#b1 h2 {
font-size: 2em;
margin-top: 10px;
margin-bottom: 20px;
}

#b1 p {
margin-bottom: 20px;
}


.footer-animation__image--1 {
	margin-left: -40px;
  
  -webkit-animation: rotation 4s infinite linear;
}


@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}