{% extends "index.html" %} {% block content %}
<div class="floating title">Pick Your Ticket!</div>
<div class="text">Click on a ticket to learn more</div>
<div class="row">
    <div class="columnTicket">
        <img src="/static/trainTicket.png" alt="train ticket" width="100%">
    </div>
    <div class="columnTicket">
        <a href="plane.html"><img src="/static/planeTicket.png" alt="plane ticket" width="100%"></a>
    </div>
    <div class="columnTicket">
        <img src="/static/passportTicket.png" alt="passport ticket" width="100%">
    </div>
    <div class="columnTicket">
        <img src="/static/resourceTicket.png" alt="resource ticket" width="100%">
    </div>
</div>
{% endblock content %}