{% extends "index.html" %} {% block content %}
<div class="row">
    <div class="column">
        <a href={{ 'more' }}><button class="regularButton">MORE!</button></a>
    </div>
    <div class="column">
        <a href={{ 'contact' }}><button class="regularButton">CONTACT!</button></a>
    </div>
    <div class="columnn">
        <img class="footer-animation__image footer-animation__image--1" src="{{ url_for('static', filename='planeOrange.png') }}" alt="plane" style="height:100px;float:right;">
    </div>
</div>
<div class="floating title">Pick Your Ticket!</div>
<div class="text">Click on a ticket to learn more</div>
<div class="row">
    <div class="columnTicket">
        <a href={{ 'plane' }}><img src="/static/shortPlaneTicket.png" alt="=plane ticket" width="100%" ></a>
    </div>
    <div class="columnTicket">
        <a href={{ 'passport' }}><img src="/static/shortPassportTicket.png" alt="passport ticket" width="100%"></a>
    </div>
    <div class="columnTicket">
        <a href={{ 'resources' }}><img src="/static/shortResourceTicket.png" alt="resource ticket" width="100%"></a>
    </div>
</div>
{% endblock content %}