{% extends "index.html" %} {% block content %}
<div class="row">
    <div class="column">
        <img class="floating" src="/static/leftStars.png" alt="hanging stars" style="width:100%;margin-top:-15%;">
    </div>
    <div class="column">    
        <div class="floating title">Welcome!</div>
        <div class="text">Dear Traveler,</div>
        <div class="text">I hear that you will be going on a journey!</div>
    </div>
    <div class="column">
        <img class="floating" src="/static/rightStars.png" alt="hanging stars" style="width:100%;margin-top:-15%;">
    </div>
</div>
<div class="text">Exciting adventures and new friends are waiting for you! </div>
        <div class="text">However, there are some rules for traveling that you should know.</div>
        <div class="text">And I will be a guide to help you! Are you ready?</div>
        <div class="container">
            <a href={{ 'more' }}><button class="button" type="button">BACK!</button></a>
        </div>
{% endblock content %}