{% extends "index.html" %} {% block content %}
<div class="row">
    <div class="column">
        <a href={{ 'homepage' }}><button class="smallButton">HOME!</button></a>
    </div>
    <div class="column">
        <div class="floating subtitle">How to Ride:</div>
        <div class="floating title">The Plane</div>
    </div>
    <div class="column">
        <img class="image" src="{{ url_for('static', filename='planeClipart.png') }}" alt="plane" style="height:50%;width:50%;align-content:center;">
    </div>
</div>
<div class="row">
    <div class="column">
        <a href={{ 'planeExpect' }}><button class="travelButton" style="color:black;border-color:#E2F6A1">What to Expect</button></a>
    </div>
    <div class="column">
        <a href={{ 'planeBehavior' }}><button class="travelButton" style="color:black;border-color:#6CAB5B">Rules/Behavior</button>
    </div>
    <div class="column">
        <a href={{ 'train' }}><button class="travelButton" style="color:black;border-color:#baea1b;">Quiz</button>
    </div>
</div>

<div class="text" style="font-size:25px;">*All information is stated as from the following sources:</div>
<center>
    <div style="font-family:'Quicksand', sans-serif;">
        <a href="https://help.cbp.gov/s/article/Article-449?language=en_US">US Customs and Border Protection</a><br>
        <a href="https://www.aa.com/i18n/travel-info/special-assistance/unaccompanied-minors.jsp">American Airlines</a><br>
        <a href="https://www.tsa.gov/travel/special-procedures/traveling-children#:~:text=Children%2012%20and%20under%20can,the%20walk%2Dthrough%20metal%20detector">Transportation Security Transportation</a><br>
    </div>
</center>
{% endblock content %}