{% extends "index.html" %} {% block content %}
<div class="row">
    <div class="column">
        <a href={{ 'plane' }}><button class="smallButton">BACK!</button></a>
    </div>
    <div class="column">
        <div class="subtitle" style="font-size: 50px;">How to Ride: The Plane</div>
    </div>
    <div class="column">
        <a href={{ 'homepage' }}><button class="smallButton">HOME!</button></a>
    </div>
</div>
<div>
<div class="title">What to Expect:</div>
<div class="text">At the airport, identify the uniforms of the workers. Only ask for help from these uniformed team member.</div>
<img src="{{url_for('static', filename='flightAttendant.jpeg')}}" style="height:150px;justify-content: center;align-items: center;position: absolute;"/>
<div class="text"">
    <li>Write down phone numbers for your child.</li>
    <li>Pack games, books and money in one small carry-on.</li>
    <li>You can bring some snacks on the plane ride</li>
    <li>Only be escorted places by uniformed team members</li>
    <li>Pack headphones so not to disturb others</li>
</div>

{% endblock content %}