{% extends "index.html" %} {% block content %}
<div class="row">
    <div class="column">
        <a href={{ 'homepage' }}><button class="smallButton">HOME!</button></a>
    </div>
    <div class="column">
        <div class="floating subtitle">How to Ride:</div>
        <div class="floating title">The Plane</div>
    </div>
    <div class="column">
        <img class="image" src="{{ url_for('static', filename='planeClipart.png') }}" alt="plane" style="height:50%;width:50%;align-content:center;">
    </div>
</div>
<div class="row">
    <div class="column">
        <a href={{ 'planeExpect' }}><button class="travelButton" style="color:black;border-color:#E2F6A1">What to Expect</button></a>
    </div>
    <div class="column">
        <a href={{ 'planeBehavior' }}><button class="travelButton" style="color:black;border-color:#6CAB5B">Rules/Behavior</button>
    </div>
    <div class="column">
        <a href={{ 'quiz' }}><button class="travelButton" style="color:black;border-color:#baea1b;">Quiz</button>
    </div>
</div>
{% endblock content %}