{% extends "index.html" %} {% block content %}
<div class="floating title">Welcome!</div>
<div class="text">Dear Traveler,</div>
<div class="text">I hear that you will be going on a journey!</div>
<div class="text">Exciting adventures and new friends are waiting for you! </div>
<div class="text">However, there are some rules for traveling that you should know.</div>
<div class="text">Don't worry. I will be a guide to help you!</div>
<div class="text">Are you ready?</div>
<div class="container">
    <button type="button">READY!</button>
</div>
{% endblock content %}